<% var data = {
  title: "Ajax"
}; %>
<%= _.template(require('./parts/header.html').default)(data) %>

<div x-data="{viewed: false}">
  <h3>Input change send ajax</h3>
  <p>
    The "We use cookies!" window will pop up whenever the page is reloaded. However, after clicking
    on the "Ok, accepted" button, x.js will remember the user's choice and will not display it.
  </p>
  <input type="text" name="s" @change="$fetch('https://jsonplaceholder.typicode.com/posts/1/comments')">
</div>

<div x-data="{data: {percent: 0}}">
  <h3>File upload with progress</h3>
  <p>
    The "We use cookies!" window will pop up whenever the page is reloaded. However, after clicking
    on the "Ok, accepted" button, x.js will remember the user's choice and will not display it.
  </p>
  <form @submit.prevent="$fetch('https://jsonplaceholder.typicode.com/posts', {}, response => data = response))">
    <input type="file" name="testFile" placeholder="Choose file">
    <br>
    <label for="uploader">
      Загрузка файла:
      <br>
      <progress id="uploader" :value="data.percent" max="100"></progress>
    </label>
    <br>
    <button type="submit">Submit</button>
  </form>
</div>

<div x-data="{viewed: false, items: [], count: 11}">
  <h3>Input change send ajax</h3>
  <form @submit.prevent="$fetch('https://jsonplaceholder.typicode.com/posts', {}, response => data = response).then(r => console.log(r))">
    <button type="button" @click.once="$fetch('https://jsonplaceholder.typicode.com/posts', {}, response => items = response.json)">Test Fetch</button>
    <ul>
      <li x-for="item in items">
        <span x-text="item.id"></span>
        <a x-text="item.title"></a>
      </li>
    </ul>
  </form>
</div>

<%= _.template(require('./parts/footer.html').default)(data) %>
