<% var data = {
  title: "Form With Cookie"
}; %>
<%= _.template(require('./parts/header.html').default)(data) %>

<form x-data @submit.prevent="$fetch('https://jsonplaceholder.typicode.com/posts', {}, response => data = response)">
  <div>Input text</div>
  <input type="text" x.text.cookie>
  <div x-text="text"></div>
  <br>

  <div>Textarea</div>
  <textarea x.textarea.cookie></textarea>
  <div x-text="textarea"></div>
  <br>

  <div>Input Range</div>
  <input type="range" step="1" min="0" max="100" x.range.cookie>
  <div x-text="range"></div>
  <br>

  <div>Single checkbox</div>
  <input type="checkbox" x.checkbox.cookie>
  <div x-text="checkbox"></div>
  <br>

  <div>Multiple checkboxes</div>
  <input type="checkbox" value="Checkbox One" x.checkboxes.cookie>
  <input type="checkbox" value="Checkbox Two" x.checkboxes.cookie>
  <div x-text="checkboxes"></div>
  <br>

  <div>Radio inputs</div>
  <input type="radio" value="yes" x.radio.cookie>
  <input type="radio" value="no" x.radio.cookie>
  <div x-text="radio"></div>
  <br>

  <div>Select</div>
  <select x.select.cookie>
    <option value="">Select Value</option>
    <option value="Value 1">Value 1</option>
    <option value="Value 2">Value 2</option>
    <option value="Value 3">Value 3</option>
  </select>
  <div x-text="select"></div>
  <br>

  <div>Multiple Select</div>
  <select multiple x.multiselect.cookie>
    <option value="">Multiple Select Value</option>
    <option value="Value 1">Value 1</option>
    <option value="Value 2">Value 2</option>
    <option value="Value 3">Value 3</option>
  </select>
  <div x-text="multiselect"></div>
</form>

<%= _.template(require('./parts/footer.html').default)(data) %>
