<% var data = {
  title: "Editor"
}; %>
<%= _.template(require('./parts/header.html').default)(data) %>

<div x-data='{content: [
    {
      "tag": "p",
      "text": "Привет как дела? есть ли у вас что-то новенькое? 🤓",
      "child": [
        {
          "tag": "strong",
          "text": "Хочется прям огонь!",
        },
      ]
    },
    {
      "tag": "p",
      "text": "Да, конечно!",
      "child": [
        {
          "tag": "strong",
          "text": "Готов увидеть?",
        },
        {
          "tag": "em",
          "text": "Щас будет что-то!",
        }
      ]
    },
    {
      "tag": "p",
      "text": "И что же?"
    },
    {
      "tag": "p",
      "text": "Моя дружба :)",
      "child": [
        {
          "tag": "strong",
          "text": "Надеюсь это норм",
        },
      ]
    },
    {
      "tag": "p",
      "text": "Увы, маловато!"
    },
  ]}'>
  <div x-editor x.content>

  </div>

  <style>
    [\x-editor] {
      border: 1px solid #000;
      outline: none;
      padding: 1rem;
    }

		[\x-editor] p {
      margin: 0;
      min-height: 1.4em;
      line-height: 1.4em;
    }
  </style>
</div>

<%= _.template(require('./parts/footer.html').default)(data) %>
