<% var data = {
  title: "Home Page"
}; %>
<%= _.template(require('./parts/header.html').default)(data) %>
  <div class="container">
    Now
    <ul>
      <li>Root element: <code>x-data</code></li>
      <li>Directive: <code>x-for</code></li>
      <li>Property: <code>x.prop</code></li>
      <li>Attribute: <code>:href</code></li>
      <li>Events: <code>@click</code></li>
      <li>Events with modification: <code>@click.prevent</code></li>
    </ul>

    Experimental:
    <br>
    Symbols: <code>! £ $ % ^ & * ( ) _ + ? @ ~</code>
    <ul>
      <li>Root element: <code>x</code> - не нарвится, так как слишком коротко и незаметно</li>
      <li>Directive: <code>x-for</code> - противоречит property и аттрибутам</li>
      <li>Property: <code>x.prop</code> - противоречит модификаторам</li>
      <li>Attribute: <code>:href</code></li>
      <li>Events: <code>@click</code></li>
      <li>Events with modification: <code>@click.prevent</code></li>
    </ul>

    <ul x-data="{ colors: ['Red', 'Orange', 'Yellow'] }">
      <li x-for="color in colors" x-text="color"></li>
    </ul>

    <div x-data="{data: {percent: 0}, items: [], count: 11, lists: [{attributes: {href: 'https://poe.com/chat/2shu93txki2jj53eflg', target: '_blank'}, title: 'Hello World!'}, {attributes: {href: '#', target: '_blank'}, title: 'How are you?'}]}">
      <style>
        body {
          line-height: 150%;
        }
        code {
          background-color: #f1f1f1;
          padding: 3px 6px;
          line-height: 1;
          font-size: 0.85rem;
        }
				[x-for] {
					display: none;
				}
      </style>
      List Items!:
      <ul>
        <li x-for="list in lists">
          <span># </span>
          <a :attributes="list.attributes" x-text="list.title"></a>
        </li>
      </ul>
      <button @click="lists = [{attributes: {href: 'https://jsonplaceholder.typicode.com/posts/1/comments', target: '_blank'}, title: 'Hello Wow!'}, {attributes: {href: '#', target: '_blank'}, title: 'My name is...'}]">Change List</button>
      <br>
      <br>
      <br>

      <form @submit.prevent="$fetch('https://jsonplaceholder.typicode.com/posts', {}, response => data = response).then(r => console.log(r))">
        <input type="file" name="testFile" placeholder="Choose file">
        <br>
        <button type="submit">Submit</button>
        <br>
        <label for="progress">Загрузка файла:</label>
        <br>
        <progress id="progress" :value="data.percent" max="100"></progress>
        <br>
        <br>

        <button type="button" @click.delay.1000ms.once="$fetch('https://jsonplaceholder.typicode.com/posts', {}, response => items = response.json)">Test Fetch</button>
        <ul>
          <li x-for="item in items">
            <span x-text="item.id"></span>
            <a x-text="item.title"></a>
          </li>
        </ul>
        <br>
        <br>
        <div>
          cookie
        </div>
        <input type="text" x.name.local>
        <div x-text="name"></div>
        <br>
        <br>
        <div>
          inputo
        </div>
        <input value="10" x.inputo :min="8" :max="12" :type="'number'">
        <div x-text="inputo"></div>
        <div x-text="count"></div>
        <br>

        <div>
          Single checkbox with boolean (single)
        </div>
        <input type="checkbox" x.single checked>
        <div x-text="single"></div>
        <template x-if="single">
          <div>Checkbox is checked</div>
        </template>
        <br>

        <div>
          Multiple checkboxes bound to array (colors)
        </div>
        <input type="checkbox" value="Red color!" x.colors checked>
        <input type="checkbox" value="Orange color!" x.colors checked>
        <input type="checkbox" value="Yellow color!" x.colors checked>
        <br>
        Colors: <span x-text="colors"></span>
        <br>
        <br>

        <div>
          Select
        </div>
        <select x.select>
          <option value="">Select A Color</option>
          <option value="Value 1">Value 1</option>
          <option value="Value 2">Value 2</option>
          <option value="Value 3">Value 3</option>
        </select>
        <br>
        Value of select: <span x-text="select"></span>
        <br>
        <br>

        <div>
          Multiple select
        </div>
        <select multiple x.multiple>
          <option value="">Select A Color</option>
          <option value="Value 1">Value 1</option>
          <option value="Value 2">Value 2</option>
          <option value="Value 3">Value 3</option>
        </select>
        <br>
        Value of select: <span x-text="multiple"></span>
        <br>
        <br>

        <div>
          Radio inputs (answer)
        </div>
        <input type="radio" value="yes" x.answer checked>
        <input type="radio" value="no" x.answer>
        <br>
        Answer: <span x-text="answer"></span>
        <br>
        <br>

        <div>
          Textarea
        </div>
        <textarea @keyup="content" x.content>Hello World!</textarea>
        <div x-text="content"></div>
      </form>

      <br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br>
      <div @load="console.log('I\'m loaded!')"></div>
      <div @intersect.once="console.log('I\'m being showed!')">Test me</div>
    </div>

    <div x-data="{ foo: 'bar', count: '2', hel: '<strong>x-html directive</strong>', test: 'X-text directive', open: false, tab: 'foo' }">
      <div x-text="test"></div>
      <div x-html="hel"></div>
      <br>
      <br>
      <br>

      <span x-text="foo" x-ref="lob"></span>
      <br>
      <br>
      <br>

      <button @click="console.log($refs.lob)">console.log</button>
      <br>
      <br>
      <br>

      Model input:
      <div x-text="friends"></div>
      <input value="Hello, my friend!" x.friends>
      <button @click="friends = 'Hello world!'">Change text</button>
      <br>
      <br>
      <br>

      <div>
        <button @click="count--">-</button>
        <span x-text="count"></span>
        <button @click="count++">+</button>
      </div>
      <div x-show="count > 2" style="font-size: 20px;">This is shown because count is more than 2</div>
      <br>
      <br>
      <br>

      <input x-model="test">
      <button @click="test = 'baz'">Change to baz</button>
      <br>
      <br>
      <br>

      <button @click="open = true">Open Dropdown</button>
      <ul class="hidden" :class="{ 'hidden': ! open }" @click.outside="open = false">
        Dropdown Body
      </ul>
      <br>
      <br>
      <br>

      <div>
        <button :class="{ 'active': tab === 'foo' }" @click="tab = 'foo'">Foo</button>
        <button :class="{ 'active': tab === 'bar' }" @click="tab = 'bar'">Bar</button>

        <div :class="{ 'hidden': tab !== 'foo' }">Tab Foo</div>
        <div class="hidden" :class="{ 'hidden': tab !== 'bar' }">Tab Bar</div>
      </div>
    </div>

  </div>
<%= _.template(require('./parts/footer.html').default)(data) %>
