<% var data = {
  title: "One Time Pop Up"
}; %>
<%= _.template(require('./parts/header.html').default)(data) %>

<div x-data="{viewed: false}">
  <h3>Accept cookie</h3>
  <p>
    The "We use cookies!" window will pop up whenever the page is reloaded. However, after clicking
    on the "Ok, accepted" button, x.js will remember the user's choice and will not display it.
  </p>
  <p>TODO: add support "delay" modifier for any directive</p>
  <div x.viewed.cookies x-show="!viewed" hidden>
    <span>We use cookie!</span>
    <button type="button" @click="viewed = !viewed">Ok, accepted</button>
  </div>
</div>

<div x-data="{dark: false}" class="test test--content" :class="dark && 'dark'">
  <h3>Dark & Light theme switcher</h3>
  <p>
    The "We use cookies!" window will pop up whenever the page is reloaded. However, after clicking
    on the "Ok, accepted" button, x.js will remember the user's choice and will not display it.
  </p>
  <button type="button" x.dark.local @click="dark = !dark">
    <i class="ph ph-sun" :class="{ 'ph-sun': !dark, 'ph-moon': dark }"></i>
  </button>
  <style>
		:root {
			--background-color: #ffffff;
			--text-color: #000000;
		}

		.dark {
			--background-color: #000000;
			--text-color: #ffffff;
		}

		div {
			background-color: var(--background-color);
			color: var(--text-color);
		}
  </style>
</div>

<%= _.template(require('./parts/footer.html').default)(data) %>
