<% var data = {
  title: "Storage Usage"
}; %>
<%= _.template(require('./parts/header.html').default)(data) %>

<div x-data="{viewed: false}">
  <h3>Accept cookie popup</h3>
  <p>
    The "We use cookies!" window will pop up whenever the page is reloaded. However, after clicking
    on the "Ok, accepted" button, x.js will remember the user's choice and will not display it.
  </p>
  <p>TODO: add support "delay" modifier for any directive</p>
  <div x.viewed.cookie x-show="!viewed" hidden>
    <span>We use cookie!</span>
    <button type="button" @click="viewed = !viewed">Ok, accepted</button>
  </div>
</div>

<div x-data="{voices: 1000, voted: false}">
  <h3>Restriction of repeated voting</h3>
  <p>
    The page saves data to localStorage with information that the user has already voted to prevent a repeat vote.
  </p>
  <div x.voices.local x.voted.local>
    <button type="button" @click="--voices; voted = true" :disabled="voted">
      <i class="ph ph-thumbs-down"></i>
    </button>
    <span x-text="voices"></span>
    <button type="button" @click="++voices; voted = true" :disabled="voted">
      <i class="ph ph-thumbs-up"></i>
    </button>
    <span class="hidden" @click="voices = 1000; voted = false" x-show="voted">Reset</span>
  </div>
</div>

<div x-data>
  <h3>Saving video playback time</h3>
  <p>
    TODO:
    After starting the video x.js will remember the time from the beginning that has already been viewed
    and, when the page is reloaded, it will prompt you to start viewing from the point of departure.
  </p>
  <div>
    <video x.time.cookie x-ref="video" @play="$el.ontimeupdate = () => time = parseInt($el.currentTime, 10)" width="640px" height="267px" controls muted>
      <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
    </video>
    <div x-show="time > 0">
      Start playback from <span x-text="time"></span> seconds?
      <button type="button" @click="$refs.video.currentTime = time; $refs.video.play()">Yes</button>
    </div>
  </div>
</div>

<div x-data class="test test--content" :class="dark && 'dark'">
  <h3>Dark & Light theme switcher</h3>
  <p>
    The "We use cookies!" window will pop up whenever the page is reloaded. However, after clicking
    on the "Ok, accepted" button, x.js will remember the user's choice and will not display it.
  </p>
  <button type="button" x.dark.local @click="dark = !dark">
    <i class="ph ph-sun" :class="{ 'ph-sun': !dark, 'ph-moon': dark }"></i>
  </button>
  <style>
		:root {
			--background-color: #ffffff;
			--text-color: #000000;
		}

		.dark {
			--background-color: #000000;
			--text-color: #ffffff;
		}

		div {
			background-color: var(--background-color);
			color: var(--text-color);
		}
  </style>
</div>

<div>
  <h3>Saving the form values</h3>
  <p>
    The page stores a cookie with the information entered by the user in the form, so
    that when the page is refreshed or when returning to the form, this data is saved.
  </p>
  <form x-data>
    <div>Input text</div>
    <input type="text" x.text.cookie>
    <div x-text="text"></div>
    <br>

    <div>Textarea</div>
    <textarea x.textarea.cookie></textarea>
    <div x-text="textarea"></div>
    <br>

    <div>Input Range</div>
    <input type="range" step="1" min="0" max="100" x.range.cookie>
    <div x-text="range"></div>
    <br>

    <div>Single checkbox</div>
    <input type="checkbox" x.checkbox.cookie>
    <div x-text="checkbox"></div>
    <br>

    <div>Multiple checkboxes</div>
    <input type="checkbox" value="Checkbox One" x.checkboxes.cookie>
    <input type="checkbox" value="Checkbox Two" x.checkboxes.cookie>
    <div x-text="checkboxes"></div>
    <br>

    <div>Radio inputs</div>
    <input type="radio" value="yes" x.radio.cookie>
    <input type="radio" value="no" x.radio.cookie>
    <div x-text="radio"></div>
    <br>

    <div>Select</div>
    <select x.select.cookie>
      <option value="">Select Value</option>
      <option value="Value 1">Value 1</option>
      <option value="Value 2">Value 2</option>
      <option value="Value 3">Value 3</option>
    </select>
    <div x-text="select"></div>
    <br>

    <div>Multiple Select</div>
    <select multiple x.multiselect.cookie>
      <option value="">Multiple Select Value</option>
      <option value="Value 1">Value 1</option>
      <option value="Value 2">Value 2</option>
      <option value="Value 3">Value 3</option>
    </select>
    <div x-text="multiselect"></div>
  </form>
</div>

<%= _.template(require('./parts/footer.html').default)(data) %>
