@import 'normalize.css';

body {
	padding: 3rem;
}

code {
	background-color: #f1f1f1;
	padding: 3px 6px;
	line-height: 1;
	font-size: 0.85rem;
}

[\@click] {
	cursor: pointer;
}

[x-for] {
	display: none;
}
